{% extends 'base.html.twig' %}

{% block title %}{{ trick.title }}{% endblock %}

{% block body %}
    <img src="/assets/images/{{ trick.imageName }}">
    <h2>{{ trick.title }}</h2>
    <p>{{ trick.content }}</p>
{% endblock %}
