{% extends 'base.html.twig' %}

{% block title %}Modification d'un trick{% endblock %}

{% block body %}
    <div class="slogan row justify-content-center background-color">
        <h1 class="col-8 text-center padding-top-h1">Modification du trick</h1>
    </div>
    {{ include('trick/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {% if trick.user == app.user %}
        <div class="text-center text-green">
            <p class="">ou</p>
        </div>
        <div class="delete-button margin-bottom">
            <a class="text-center delete-button">{{ include('trick/_delete_form.html.twig') }}</a>
        </div>
    {% endif %}
{% endblock %}
