{% extends 'base.html.twig' %}

{% block title %}Modification d'un trick{% endblock %}

{% block body %}
    <div class="row justify-content-center margin-bottom margin-top">
        <a href="{{ path('home') }}" class="btn btn-info col-md-2"> Retour </a>
        <div class="col-md-6"></div>
    </div>
    {{ include('trick/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div class="text-center">
        <p class="">ou</p>
    </div>
    <div class="delete-button">
        <a class="text-center delete-button ">{{ include('trick/_delete_form.html.twig') }}</a>
    </div>
{% endblock %}
