{% extends 'base.html.twig' %}

{% block title %}Nouveau trick{% endblock %}

{% block body %}
    <div class="slogan row justify-content-center background-color">
        <h1 class="col-8 text-center padding-top-h1">Créer un nouveau trick</h1>
    </div>
    {{ include('trick/_form.html.twig') }}
{% endblock %}
