<h2> Bonjour {{ user.firstname }} {{ user.lastname }}</h2>

<p>Veuillez trouver ci-dessous votre nouveau mot de passe. Vous pourrez modifier votre mot de passe dans votre espace profil</p>

<p>Email : {{ user.email }}</p>
<p>Mot de passe : {{ password }}</p>

<p> Merci</p>

<p>Cordialement,</p>
<p>SnowTricks</p>
